<main>
    <nav>
        <table>
            <tr>
                <td>
                    <a href="<%= yield %>"> <img id="icon" src="<%= image_path("favicon.gif") %>"></a>
                </td>

                <td>
                    <span>
                        <strong>
                            <a href="<%= yield %>" id="namepage">Hacker News</a>
                        </strong>
                    </span>
                </td>
            </tr>
        </table>
    </nav>    

    <table>
        <p><%=story(0, "title")%></p>
    </table>  
</main>


